{% extends 'base.html' %}
{% block title %}Cupcakes{% endblock %}
{% block body_page %}
    <h1>List of cupcakes:</h1>
    <div class="row justify-content-center">

    <ul id="cupcakes-list">   
    </ul>

    </div>

    <h3>Add a new cupcake:</h3>
    <form id="new-cupcake-form">
        <div class="row justify-content-center">
            <label>Flavor:</label>
            <input type="text", name="flavor", placeholder="Flavor", id="flavor">
        </div>
        <div class="row justify-content-center">
            <label>Size:</label>
            <input type="text", name="size", placeholder="Size", id="size">
        </div>
        <div class="row justify-content-center">
            <label>Rating:</label>
            <input type="text", name="rating", placeholder="Rating", id="rating">
        </div>
        <div class="row justify-content-center">
            <label>Image URL:</label>
            <input type="text", name="image", placeholder="Image URL", id="image">
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
{% endblock %}