{% extends 'base.html' %}
{% block title %}Blogly - {{post.title}}{% endblock %}
{% block body_page %}
    <h1>{{post.title}}</h1>

    <div class="post_content">
        <p>
            {{post.content}}
        </p>
        <p style="font-style: italic;">
            By {{user.first_name}} {{user.last_name}} - {{post.date}}
        </p>
        <h4>Tags: </h4>
        <p>
            {% for t in post.tag %}
                <a href="/tags/{{t.id}}">{{t.name}}</a>
            {% endfor %}
        </p>
    </div>

    <form class="buttons">
        <button id="edit" formaction="/users/{{user.id}}/{{post.id}}/edit" formmethod="GET">Edit</button>
        <button id="delete" formaction="/users/{{user.id}}/{{post.id}}/delete" formmethod="POST">Delete</button>
    </form>
    
{% endblock %}