{% extends 'base.html' %}
{% block title %}{{feedback.username}}'s - feedback{% endblock %}
{% block body_page %}
    <h1>{{feedback.username}}'s feedback:</h1>

    <h3>{{feedback.title}}</h3>

    <p>{{feedback.content}}</p>

    {% if session['user_id'] == user.username %}
        <form action="/feedback/{{feedback.id}}/update" method="POST">
            <button type="submit" class="btn btn-warning">Edit</button>
        </form>
        <form action="/feedback/{{feedback.id}}/delete" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    {% endif %}

{% endblock %}